html {
	height:100%;
	box-sizing:border-box;
	-webkit-text-size-adjust:100%;
	-webkit-tap-highlight-color:transparent
}

*,::after,::before {
	margin:0;
	padding:0;
	box-sizing:inherit
}

body {
	overflow-x:hidden
}

a {
	text-decoration:none;
	color:inherit;
	background-color:transparent
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:400
}

img {
	display:block
}

img,video {
	max-width:100%;
	height:auto
}

ol,ul {
	list-style:none
}

button,input,optgroup,select,textarea {
	font:inherit
}

button {
	text-transform:none;
	cursor:pointer
}

[type=button],[type=reset],[type=submit],button {
	-webkit-appearance:button
}

code,kbd,pre {
	font-family:monospace,monospace;
	font-size:inherit
}

embed,iframe,object {
	border:0;
	vertical-align:bottom
}

table {
	border-collapse:collapse;
	border-spacing:0
}

[hidden] {
	display:none
}

[aria-disabled=true],[disabled] {
	cursor:not-allowed
}

.section__title {
	display:block;
	text-align:center;
	font-size:1.75rem;
	margin-bottom:1.5rem;
	color:#2d3748
}

html {
	font-size:15px
}

.wrap {
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px
}

.material-icons {
	font-family:"Material Icons";
	font-weight:normal;
	font-style:normal;
	font-size:24px;
	display:inline-block;
	line-height:inherit;
	text-transform:none;
	vertical-align:middle;
	letter-spacing:normal;
	word-wrap:normal;
	white-space:nowrap;
	direction:ltr;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	-moz-osx-font-smoothing:grayscale;
	font-feature-settings:"liga"
}

body {
	background-color:#fff;
	font-size:1rem;
	line-height:1.6;
	color:#4a5568;
	font-family:"Google Sans"
}

cw {
	color:#ffffff
}
.header__wrap {
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative
}

header {
	padding:8vh 0;
	position:relative;
	text-align:center
}

header .branding {
	max-width:100px;
	margin:0 auto 1rem;
	border-radius: 50px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

header .branding:hover {
	transform: scale(1.05);
}

header .header__title {
	font-size:2.5rem;
	line-height:1.25
}

header p {
	max-width:620px;
	color:#718096;
	margin:.5rem auto 0
}

.header__links {
	margin-top:1rem;
	color:#fff;
}

.header__links a {
	display:inline-block;
	padding:18px 2rem;
	line-height:1;
	border-radius:12px;
	width: 200px;
	height: 55px;
	font-size: 18px;
}

.header__links .github {
	background-color:#0f9d58;
	color:#fff;
	margin-right:.5rem
}

.header__links

.devices {
	background: linear-gradient(74.36deg, #FF4433 0%, #BB1506 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:0.4s;
}

.devices:hover {
	transform: scale(1.05);
}

.features {
	padding:8vh 0
}

.material-icons.md-48 {
	font-size:48px
}

.f__item+.f__item {
	margin-top:1rem
}

.f__item {
	flex-basis:31.5%;
	background-color:#cc0e0e;
	padding:1.5rem;
	color:#fff;
	border-radius:.99rem;
	display:flex;
	justify-content:space-between;
	align-items:flex-start
}

.f__item .f__icon {
	flex-basis:20%
}

.f__item .f__intro {
	flex-basis:75%
}

.f__item .f__icon {
	flex-basis: 20%
}

.f__item .f__intro {
	flex-basis: 75%
}

.f__item .f__intro h3 {
	font-size: 1.25rem;
	margin-bottom: .25rem
}

.f__item .f__intro p {
	color: #c2d8fb;
	font-size: .88em;
	line-height: 1.45
}

.screenshots {
	background-color: #e2edfd;
	padding: 6vh 0
}

.glide {
	position: relative;
	width: 100%;
	box-sizing: border-box
}

.glide * {
	box-sizing: inherit
}

.glide__track {
	overflow: hidden
}

.glide__slides {
	position: relative;
	width: 100%;
	list-style: none;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	touch-action: pan-Y;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
	will-change: transform
}

.glide__slides--dragging {
	user-select: none
}

.glide__slide {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	white-space: normal;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent
}

.glide__slide a {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none
}

.glide__arrows {
	-webkit-touch-callout: none;
	user-select: none;
	color: #fff
}

.glide__arrows svg {
	fill: currentColor
}

.glide__bullets {
	-webkit-touch-callout: none;
	user-select: none
}

.glide--rtl {
	direction: rtl
}

.glide__arrow {
	position: absolute;
	display: block;
	top: 50%;
	z-index: 2;
	color: #fff;
	text-transform: uppercase;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background-color: #ffffff;
	border: 2px solid rgba(255, 255, 255, .5);
	box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
	text-shadow: 0 .25em .5em rgba(0, 0, 0, .1);
	opacity: 1;
	border: none;
	outline: none;
	cursor: pointer;
	transition: opacity 150ms ease, border 300ms ease-in-out;
	transform: translateY(-50%);
	line-height: 1
}

.glide__arrow:focus {
	outline: none
}

.glide__arrow:hover {
	border-color: #fff
}

.glide__arrow--left {
	left: .75em
}

.glide__arrow--right {
	right: .75em
}

.glide__arrow--disabled {
	opacity: .33
}

.glide__bullets {
	position: absolute;
	z-index: 2;
	bottom: 2em;
	left: 50%;
	display: inline-flex;
	list-style: none;
	transform: translateX(-50%)
}

.glide__bullet {
	background-color: rgba(255, 255, 255, .5);
	width: 9px;
	height: 9px;
	padding: 0;
	border-radius: 50%;
	border: 2px solid transparent;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	line-height: 0;
	box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
	margin: 0 .25em
}

.glide__bullet:focus {
	outline: none
}

.glide__bullet:hover, .glide__bullet:focus {
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, .5)
}

.glide__bullet--active {
	background-color: #fff
}

.glide--swipeable {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab
}

.glide--dragging {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing
}

.page header {
	padding: 7vh 0;
	background-color: #ffffff;
	border-top: .75rem solid #ffffff
}

.menu li {
	display: inline-block
}

.menu li+li {
	margin-left: 1.5rem
}

.menu a {
	display: inline-block
}

.menu a:hover {
	text-decoration: underline
}

.team {
	padding: 8vh 0
}

.member+.member {
	margin-top: 1rem
}

.member {
	padding: 1.5rem;
	background-color: #f3f7fe;
	text-align: center;
	border-radius: .25rem;
	position: relative;
	border-width: 3px;
	border-style: solid;
	-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#0f9d58), to(rgba(15, 157, 88, 0))) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(bottom, #0f9d58, rgba(15, 157, 88, 0)) 1 100%;
	-moz-border-image: -moz-linear-gradient(bottom, #0f9d58, rgba(15, 157, 88, 0)) 1 100%;
	-o-border-image: -o-linear-gradient(bottom, #0f9d58, rgba(15, 157, 88, 0)) 1 100%;
	border-image: linear-gradient(to top, #0f9d58, rgba(15, 157, 88, 0)) 1 100%
}

.member .avatar {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin: 0 auto 1rem
}

.member .name {
	font-size: 1.25rem;
	margin-bottom: .25rem
}

.member .intro {
	font-size: .95em;
	line-height: 1.45;
	margin-bottom: .5rem
}

.member .place {
	color: #718096;
	display: inline-block;
	line-height: 1;
	text-transform: uppercase
}

.member .devices {
	margin-top: .5rem;
	margin-bottom: 1rem
}

.member .devices li {
	display: inline-block;
	font-size: .88em
}

.member .devices li+li {
	margin-left: .5rem
}

.member .devices a {
	color: #718096
}

.member .devices a:hover {
	text-decoration: underline
}

.member .donate {
	text-decoration: underline;
	color: #4285f4
}

.downloads {
	padding: 8vh 0
}

.device__helper select {
	padding: 10px 1rem;
	border-radius: 99px;
	background-color: #fcd2d2;
	width: 100%;
	border: none
}

.device__helper input.device__search {
	padding: 10px 1rem;
	border-radius: 99px;
	border: none;
	background-color: #fcd2d2;
	width: 100%;
	margin-top: 1rem
}

.devices__grid {
	margin-top: 3rem
}

.devices__grid .device+.device {
	margin-top: 1rem
}

.device {
	padding: 1.5rem;
	background: linear-gradient(57.45deg, #FFDBD8 0%, #FFBAB4 100%);
	border-radius: 9px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.device:hover {
	transform: scale(1.02);
}

.device .title {
	font-size: 1.25rem;
	margin-bottom: 10px
}

.device h4+h4 {
	margin-top: 10px;
	color: #718096
}

.device h4 {
	line-height: 1.4
}

.device h4 a {
	color: #BB1506;
}

.device h4 a:hover {
	text-decoration: underline
}

.device .download__btn {
	display: block;
	margin-top: 1rem;
	border-radius: 3px;
	background-color: #f44242;
	color: #fff;
	padding: .5rem;
	text-align: center;
	transition: background-color 200ms ease;
	background: linear-gradient(74.36deg, #FF4433 0%, #BB1506 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.device .download__btn:hover {
	background-color: #f44242;
	transform: scale(1.02);
}

.d__overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .82);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none
}

@keyframes slideup {
	from {
		opacity: 0;
		top: -3rem
	}
	to {
		opacity: 1;
		top: 0
	}
}

.d__overlay.shown {
	display: flex
}

.d__overlay.shown .d__modal {
	animation: slideup 170ms ease
}

.d__modal {
	background-color: #fff;
	padding: 2rem;
	width: 98%;
	margin: 0 auto;
	max-width: 800px;
	border-radius: 3px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
	position: relative
}

.d__modal h2 {
	font-size: 1.5rem;
	margin-bottom: .5rem
}

.d__modal h4 {
	color: #718096;
	margin-bottom: 1rem
}

.d__modal h4 a {
	text-decoration: underline
}

.d__modal .close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	color: #718096;
	border: none;
	outline: none;
	background-color: #e2e8f0;
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06)
}

.build__table {
	overflow-x: scroll
}

.build__details {
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(34, 36, 38, .15);
	box-shadow: none;
	border-collapse: separate;
	border-spacing: 0;
	font-size: .9em;
	overflow-x: scroll
}

.build__details a {
	color: #ffffff;
	text-decoration: underline
}

.build__details th, .build__details td {
	padding: .5rem 1rem;
	text-align: center;
	border-bottom: 1px solid rgba(34, 36, 38, .1)
}

@media(min-width: 769px) {
	.features__grid {
		display: flex;
		justify-content: space-between;
		align-items: center
	}
	.team__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem
	}
	.f__item+.f__item {
		margin-top: 0
	}
	.section__title {
		margin-bottom: 2.5rem
	}
	.device__helper {
		display: flex;
		justify-content: space-between;
		align-items: center
	}
	.device__helper select {
		flex-basis: 35%
	}
	.device__helper input.device__search {
		flex-basis: 63%;
		margin-top: 0
	}
	.devices__grid {
		display: grid;
		align-items: center;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr)
	}
	.devices__grid .device+.device {
		margin-top: 0
	}
	footer {
		padding: 8vh 0
	}
}

@media(min-width: 980px) {
	html {
		font-size: 16px
	}
	.header__wrap::after {
		content: url("../../assets/images/Taieri.svg");
		position: absolute;
		overflow: hidden;
		top: 0;
		right: -50%;
		width: 750px;
		height: 750px;
		z-index: -1
	}
}

@media(min-width: 1200px) {
	.wrap {
		max-width: 1080px
	}
}

.parent {
	text-align: center;
}

.parent > ul {
	display: inline-block;
}

#rcorners {
	border-radius: 100%;
}

.devicesch {
	background: linear-gradient(74.36deg, #FFD65A 0%, #FFC000 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:0.4s;
}

.devicesch:hover {
	transform: scale(1.05);
}

hr.new4 {
  border: 1px solid #EB4132;
}

#thx {
    transition:0.5s;
    z-index:9999;
    position:fixed;
}

#thx:hover {
    margin-right:-20px;
}

#about { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:429px;
	height:109px;
	font-family:Google Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:52px;
}